<h2>管理画面：投稿イベントの一覧</h2>
<table>
	<tr>
		<th>Id</th><th >イベント名</th>
			<th>カテゴリ名</th><th colspan="2"></th>
	</tr>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.title %></td>
		<td><%= obj.event_category.name %></td>
		<td><a href="/event_posts/<%= obj.id %>">[編集]</a></td>
		<td><a href="/event_posts/delete/<%= obj.id %>">[削除]</a></td>
	</tr>
	<% end %>
</table>
<p><a href="/event_posts/add">新規作成＞＞</a></p>

