<!DOCTYPE html>
<html>
	<head>
		<title>RailsApp</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'events', 
			'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'base', 
			'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'events', 
			'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header id="header">
			<h1><a href="/events">ミニECサイト</a></h1>
			<h2>ミニECサイトのサンプルです</h2>
		</header>
		<hr>
		<div id="side">
		<% EventCategory.all.each do |category| %>
			<p><a href="/events/category/<%= category.id %>">
				<%= category.name %></a></p>
		<% end %>
		</div>
		<main id="main">
		<%= yield %>
			<p><a href="/event_posts">管理画面：投稿イベント一覧ページ </a></p>
		</main>
	</body>
</html>